# MongoDB Atlas Configuration
VITE_MONGODB_URI=mongodb+srv://tccunivap:SomosAmigos@cluster0.u48bk0h.mongodb.net/TCC?retryWrites=true&w=majority&appName=Cluster0

# Firebase Configuration (mantido para autenticação)
VITE_FIREBASE_API_KEY=AIzaSyAcezCC5NxaxcxI_RTMpV22Xxse6_tPSEg
VITE_FIREBASE_AUTH_DOMAIN=drive-32767.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=drive-32767
VITE_FIREBASE_STORAGE_BUCKET=drive-32767.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=794458175139
VITE_FIREBASE_APP_ID=1:794458175139:web:54cc07dd926be8cc15f116
